name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  builds:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout docker
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
              username: ${{ secrets.DOCKER_USERNAME }}
              password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push images
        run: |
          docker compose build
          docker tag 2526_DAW_u2_springboot falbmun0906/2526_DAW_u2_springboot:latest
          docker push falbmun0906/2526_DAW_u2_springboot:latest